<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{entrada.name}}">
  <ion-content class="padding">
    <img ng-src="{{entrada.url}}" style="width: 100%;">
	<div class="padding">
		<p>
	      {{entrada.lastText}}
	    </p>
	    <h1>
	      {{entrada.price}}
	    </h1>
    </div>
  </ion-content>
</ion-view>
