

<ion-view view-title="Chats" hide-nav-bar="true">
  <ion-content class="bg-number-ppl center-vertical">
	
		<div style="text-align: center;">
			<img src="img/layout/logo-white.png" width="185px">
		</div>
		<br>

<!--
		<div><label class="item item-input item-select">
	    <div class="input-label">
	      Nº Pessoas
	    </div>
	    <select>
	      <option selected>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	      <option>6</option>
	      <option>7</option>
	      <option>8</option>
	      <option>9</option>
	      <option>10</option>
	      <option>11</option>
	      <option>12</option>
	      <option>13</option>
	      <option>14</option>
	      <option>15</option>
	      <option>16</option>
	    </select>
	  </label>		</div>
-->
<!-- 	  <br> -->

	  <button class="button icon-left ion-android-restaurant button-dark button-block" ng-click="iniciarPedido();">Iniciar Pedido</button>

  </ion-content>
</ion-view>